.article{
  width: 100%;
  .main-box{
    width: 96%;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
    padding: 20px;
    .tab-box{
      width: 100%;
      border-bottom: 1px solid #e1e1e1;
      height: 40px;
      display: flex;
      line-height: 40px;
      position: relative;
      .check-btn{
        position: absolute;
        right: 0;
        background: #F5222D;
        color: #fff;
        border-color: #F5222D;
      }
      .tab-item{
        width: 100px;
        height: 100%;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        &.active-tab{
          font-weight: bold;
          font-size: 18px;
          border-bottom: 2px solid #252525;
        }
      }
    }
  }
}