.ant-layout-content{
  background: #fff;
  .main2{
    width: 96%;
    margin: 0 auto;
    padding: 30px 0;
    .filter-box{
      width: 100%;
      height: 106px;
      background: #DFDFDF;
      border: 1px solid #F8F8F8;
      border-radius: 4px;
      margin-bottom: 20px;
      .ant-row{
        border-bottom: none;
        .ant-col{
          text-align: left;
          line-height: 0;
          .ant-select{
            padding: 0 20px;
            width: 100% !important;
            margin-top: 14px;
          }
        }
        .ant-btn{
          float: right;
          margin-right: 20px;
          width: 100px;
          background: #252525;
          border-color: #252525;
        }
      }
    }
    .no-data {
      margin-top: 200px;
      svg{
        height: 70px;
        width: 70px;
      }
      p{
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
      }
    }
      
    .ant-row{
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #eee;
      .ant-col{
        height: 100%;
        line-height: 60px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.title-row{
        height: 40px;
        .ant-col{
          font-size: 16px;
          font-weight: bold;
          line-height: 40px;
          &.active-col{
            color: red;
          }
        }
      }
      
    }
    .ant-pagination{
      text-align: center;
      margin-top: 30px;
      .ant-pagination-prev, .ant-pagination-next{
        height: 32px;
        line-height: 32px;
      }
      .ant-pagination-simple-pager{
        height: 32px;
        font-size: 16px;
      }
    }
  }
}
